# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/backend/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Miscellaneous & Logs
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables - DO NOT COMMIT THESE
# See https://cra.link/deployment for more info on environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
/backend/.env